body {
    font-family: Arial, sans-serif;
}
.slikaPovijest{
    max-width: 100%;
    height: auto;
    flex: 33.33%;
    padding: 0.25rem;
}

.textPovijest{
    padding: 5rem;
    font-size: 1.5rem;
}
.textPovijest p{
    text-align: left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
.container{
    display: flex;
}

.naslov{
    text-align: center;
    font-size: 5rem;
}


.navgrb{
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    padding: 0.625rem 1.25rem;
}

.navgrb img{
    height: 3.125rem;
    margin-right: 1.25rem;
}

.nav-link{
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}
.nav-link a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding:0.5rem 0.75rem;
    border-radius: 0.3rem;
}
.nav-link li{
    display: inline;
}
.nav-link a:hover {
    background-color: #ddd;
  }

.navbar2{
    display: flex;
    align-items: center;
    background-color: #380101;
    padding: 0.625rem 1.25rem;
  }
.nav-link2{
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}
.nav-link2 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding:0.5rem 0.75rem;
    border-radius: 0.3rem;
}
.nav-link2 li{
    display: inline;
    align-items: center;
}
.nav-link2 a:hover {
    background-color: #3b3b3b;
  }

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    gap: 1.25rem;
    max-width: 75rem;
    margin: 2rem auto 0 auto;
}

.gallery-item {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.gallery-item img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}

.gallery-item p {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}
.gallery-item:hover{
    transform: scale(1.25);
}

.zracnalukatext h3{
    text-align: center;
}

.zracnalukatext{
    align-items: center;
    background-color: rgb(247, 247, 247);
    max-width: 35rem;
    margin: 0 auto;
}

.gallery2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    gap: 1.25rem;
    max-width: 75rem;
    margin: 2rem auto 0 auto;
}

.gallery-item2 {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.gallery-item2 img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}

.gallery-item2 p {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}
.gallery-item2:hover{
    transform: scale(1.25);
}

.ztcText img{
    width: 50%;
    height: 35rem;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ztcText p{
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}
.ztcText h3{
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}
.towerText img{
    width: 50%;
    height: 35rem;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.towerText p{
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}
.towerText h3{
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}
#map {
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
}
