
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: right;
}
li a{
    display: block;
    color: white;
    text-align: center;
    color: black;
    padding: 1rem;
    background-color: #0066ff;

}

li a:hover{
    background-color: #0000ff;
}
.active {
    background-color: #ffff00;
  }
.slikaPovijest{
    max-width: 100%;
    height: auto;
    width: 30rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.slikaPovijest img{
    width: 20rem;
}
p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.textPovijest{
    padding: 5rem;
}
h1{
    text-align: center;
}

